<a href="https://colab.research.google.com/github/manjunadh23/numpy/blob/main/decision_tree_classifieer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB

from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
data=pd.read_csv("students_placement_data.csv")
data.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,M,A,87.3,65.3,40.00,18,NO,Not placed
1,2,F,A,89.0,92.4,71.45,0,yes,Placed
2,3,F,A,67.0,68.0,45.26,13,yes,Not placed
3,4,M,A,71.0,70.4,36.47,17,yes,Not placed
4,5,M,A,NaN,65.5,42.52,17,yes,Not placed

In [3]:
data.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                         True
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training     True
placement status                      False
dtype: bool

In [4]:
data["SSC Percentage"]=data["SSC Percentage"].replace(to_replace=np.nan,value=data["SSC Percentage"].mean())  
data.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,M,A,87.300000,65.3,40.00,18,NO,Not placed
1,2,F,A,89.000000,92.4,71.45,0,yes,Placed
2,3,F,A,67.000000,68.0,45.26,13,yes,Not placed
3,4,M,A,71.000000,70.4,36.47,17,yes,Not placed
4,5,M,A,80.474569,65.5,42.52,17,yes,Not placed

In [5]:
data["registered_for_ Placement_Training"]=data["registered_for_ Placement_Training"].replace(to_replace=np.nan,value=data["registered_for_ Placement_Training"].mode()[0])  
data.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,M,A,87.300000,65.3,40.00,18,NO,Not placed
1,2,F,A,89.000000,92.4,71.45,0,yes,Placed
2,3,F,A,67.000000,68.0,45.26,13,yes,Not placed
3,4,M,A,71.000000,70.4,36.47,17,yes,Not placed
4,5,M,A,80.474569,65.5,42.52,17,yes,Not placed

In [6]:
data.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                        False
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training    False
placement status                      False
dtype: bool

In [7]:
data['Gender'] = data['Gender'].map({'M': 0, 'F': 1})
data['Section']=data['Section'].map({'A':0,'B':1})
data['registered_for_ Placement_Training']=data['registered_for_ Placement_Training'].map({'NO':0,'yes':1})

In [8]:
data.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,0,0,87.300000,65.3,40.00,18,0,Not placed
1,2,1,0,89.000000,92.4,71.45,0,1,Placed
2,3,1,0,67.000000,68.0,45.26,13,1,Not placed
3,4,0,0,71.000000,70.4,36.47,17,1,Not placed
4,5,0,0,80.474569,65.5,42.52,17,1,Not placed

In [9]:
X=data[["Gender","Section","SSC Percentage","inter_Diploma_percentage","B.Tech_percentage","Backlogs","registered_for_ Placement_Training"]].values

In [10]:
y=data["placement status"]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

In [12]:
print (" The shape of original feature set is : ",X.shape)
print("The shape of original class labels is", y.shape)
print(" The shape of Features in training data",X_train.shape)
print("The shape of class labels in training data",y_train.shape)
print(" The shape of Features in test data",X_test.shape)
print("The shape of class labels in test data",y_test.shape)

 The shape of original feature set is :  (117, 7)
The shape of original class labels is (117,)
 The shape of Features in training data (93, 7)
The shape of class labels in training data (93,)
 The shape of Features in test data (24, 7)
The shape of class labels in test data (24,)

In [13]:
model_DT = DecisionTreeClassifier() # Create Decision Tree classifer object
model_DT = model_DT.fit(X_train,y_train) # Build the model using training data
y_predict_DT = model_DT.predict(X_test) # Apply the model on test data.

In [14]:
Actual_predicted_DT=pd.DataFrame({'predicted':y_predict_DT, 'Actual':y_test})
Actual_predicted_DT.head()

     predicted      Actual
45      Placed      Placed
95  Not placed  Not placed
56  Not placed  Not placed
84  Not placed      Placed
98      Placed      Placed

In [15]:
from sklearn.metrics import confusion_matrix

pd.DataFrame(
    confusion_matrix(y_test, y_predict_DT),
    columns=['Not placed Predicted', 'placed predicted'],
    index=['Not placed', 'placed']
)

            Not placed Predicted  placed predicted
Not placed                    11                 3
placed                         4                 6

In [16]:
print("Accuracy of decison tree is " ,metrics.accuracy_score(y_test, y_predict_DT)*100)
print("Recall of decision tree is",metrics.recall_score(y_test, y_predict_DT, pos_label="Placed"))
print("Precision of decision tree is",metrics.precision_score(y_test, y_predict_DT, pos_label="Placed"))
print("f1_score of decision tree is",metrics.f1_score(y_test, y_predict_DT, pos_label="Placed"))

Accuracy of decison tree is  70.83333333333334
Recall of decision tree is 0.6
Precision of decision tree is 0.6666666666666666
f1_score of decision tree is 0.631578947368421